name: Laravel Test

on: [push]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, dom, fileinfo, mysql

      - name: Install Dependencies
        run: composer install

      - name: Run Test
        run: php artisan test
        env:
          APP_KEY: base64:VnS7fO6S65N6X8XWvP3fN/O7YJ2S5I8M1L5M4N3O2P1=
